{% load static %}
<html>
<head>
<title>Drug Traceability in HealthCare Supply Chain using Blockchain Technology</title>
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<link rel="stylesheet" type="text/css" href="{% static 'style.css' %}"/>
</head>
<body>
<div id="wrapper">
	<div id="header">
		<div id="logo">
			<center><font size="4" color="yellow">Drug Traceability in HealthCare Supply Chain using Blockchain Technology</font></center>
		</div>
		<div id="slogan">
			
		</div>
	</div>
	<div id="menu">
		<ul><center>
	  <li><a href="{% url 'index' %}">Home</a></li>
      <li><a href="{% url 'Login' %}">Login</a></li>
      <li><a href="{% url 'Register' %}">Register Here</a></li>
			
		</center></ul>
		<br class="clearfix" />
	</div>
	<div id="splash">
		<img class="pic" src="{% static 'images/investor.jpg' %}" width="870" height="230" alt="" />
	</div>
	<br/>
	<p align="justify"><font size="3" style="font-family: Comic Sans MS" color="black">
		Abstract:- Drug traceability is critical for the health and well-being of patients, businesses, and the government. Patients and other parties involved in the drug supply chain could easily track the location of their medication if it had a dependable traceability mechanism. In fact, governments all around the world are increasingly making drug tracking a vital requirement.
</p>

<p align="justify"><font size="3" style="font-family: Comic Sans MS" color="black">
		Prescription medications must be identified and tracked electronically and interoperably as part of the U.S. Drug Supply Chain Security Act (DSCSA), enacted on November 27, 2013, to ensure their safety in the country's supply chain. About eight years ago in China, the above-mentioned stakeholders were compelled to input the drug information of individual pharmaceutical goods into the official authorized IT system wheneverpharmaceuticals entered or exited their warehouses.
</p>
</body>
</html>
